---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h3> The surname of Sundyrtsev</h3>
			<p>
				 is toponymic and comes from the name of the village Sundyr (now is <a href="https://en.wikipedia.org/wiki/Mariinsky_Posad">Mariinsky Posad</a> – one of the first settlements in the <a href="https://en.wikipedia.org/wiki/Kazan_Governorate">Kazan Governorate</a> and today it is known as the <a href="https://en.wikipedia.org/wiki/Chuvashia">Chuvash Republic</a> in Russia). 
			</p>
		</main>
		<Footer />
	</body>
</html>
