---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h3> The surname of Sundyrtsev</h3>
			<p>
				 It is a toponymic surname which means that it comes from the name of a village called Sundyr (This village used to be known as <a href="https://en.wikipedia.org/wiki/Mariinsky_Posad">Mariinsky Posad</a> 🇷🇺 – and was one of the first settlements in the <a href="https://en.wikipedia.org/wiki/Kazan_Governorate">Kazan Governorate</a> Nowadays, it is called the <a href="https://en.wikipedia.org/wiki/Chuvashia">Chuvash Republic</a>). 	
                       </p>
		</main>
		<Footer />
	</body>
</html>
